%h3 新規費用登録

= render 'templates/show_messages'

.name= @project.name
.description= @cost.description

- if current_user.configurable?(@project)
  = form_for [@profit_loss, @cost, @cost_detail] do |f|
    .form-group
      = f.label :name
      = f.text_field :name, placeholder: '費用名称', class: 'cost_name'
      = f.label :description
      = f.text_field :description, placeholder: '費用概要', class: 'cost_description'
      = f.label :cost_value
      = f.number_field :cost_value, type: 'number', placeholder: '費用', class: 'cost'
      = f.label :category
      = f.text_field :category, placeholder: '費用分類', class: 'cost_category'
      = f.label :order_date
      = f.text_field :order_date, class: 'order_date date-picker'
    = f.submit '作成', class: 'btn btn-default'
